ParaGADACZ

date_time_zonespec.csv
paragadacz.conf
aprx-rf.log
EmailDownloader_test_secret.h
secret.h
secret*

*.tpl

*.mp3
*.ogg
/test_input/audio

*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Debug/
/Release/
/DebugPansaAirspace/
