Secrets = {
    MeteoblueKey = "xxxxzzzzz";
    WeatherlinkPassword = "xxxzzzz";
    WeatherlinkToken = "DEADBEEF";
    EmailAnnouncementsPassword = "xxxxzzzzz!";
    ResponsiveVoiceApiKey = "ererer";
   
}
